#top {
    background-color: #43c6db;
    color: aliceblue;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
#middle {
    background-color: azure;
    border: solid black;
    border-radius: 20px;
}
footer {
    background-color: #43c6db;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}